@font-face{
    font-family: "7segment";
    src: url("7segments.ttf") format("truetype");
}
#calc-body{
    width: 500px;
    height: 800px;
    display: flex;
    background-color: beige;
    flex-direction: column;

}

#display{
    display: flex;
    flex-grow: 6;
    font-family: "7segment";
    justify-items: end;
    align-items: center;
    font-size: 80px;
}

body{
    background-color: white;
}

.row{
    display: flex;
    flex: auto;
    flex-grow: 1;
    background-color: aqua;
    margin: 3px;
    
}

.operator, .num, .clear {
    margin: 2px;
    flex: auto;
    width: 50%;
    padding-bottom: 50%;
    padding: 20px;
    font-size: 30px;
}

.operator{
    background-color: orange;
}

.num{
    background-color: grey;
}

.clear{
    background-color: red;
}