@font-face{
    font-family: "7segment";
    src: url("7segments.ttf") format("truetype");
}
#calc-body{
    width: 500px;
    height: 800px;
    display: flex;
    background-color: rgb(30, 30, 30);
    flex-direction: column;

}

#display{
    display: flex;
    flex-grow: 4;
    font-family: "7segment";
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    font-size: 80px;
}

body{
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.row{
    display: flex;
    flex: auto;
    flex-grow: 1;
    background-color: rgb(200, 200, 200);
}

.operator, .num, .clear {
    margin: 2px;
    display: flex;
    flex: auto;
    width: 50%;
    padding: 30px;
    font-size: 40px;
}

.operator{
    background-color: rgb(150, 150, 150);
}

.num{
    background-color: rgb(175, 175, 175);
}

.clear{
    background-color: rgb(150, 150, 150);
}